<!-- <h1>This is app comonent {{title}}</h1>
*ngFor="let item of userDetail">name is: {{item.name}} -->
<!-- <h3 *ngFor="let item of userDetail">email is: {{item.email}}</h3>
<h3 *ngFor="let item of userDetail">number is: {{item.number}}</h3> -->
<!-- 
if and else condition in angular
    <div *ngIf="showMessage">
        This message is displayed because 'showMessage' is true.
    </div>
    <div *ngIf="!showMessage; else noMessage">
        This message is displayed because 'showMessage' is false.
    </div>
    <ng-template #noMessage>
        There is no message to display.
    </ng-template> -->

<ul style="list-style-type:circle" *ngFor="let user of nesteduserDetail">
    <li>Name is: {{user.name}}</li>
    <li>Number is: {{user.number}}</li>
    <ul *ngFor="let account of user.socialAccount">

        <li>{{account}}</li>

    </ul>
</ul>


<button (click)="getData()">click me</button>



